@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Ashley's Restaurant Rater!</h1>
    <p class="lead">ARR is a wonderful place to see restaurants and how well they are liked in the community. Afraid you won't like something there?
    Just look at the ratings!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ARR is the place to go when you want to try a new restaurant, but aren't sure what to expect. Now you have everything at your finger tips. Aren't sure if they 
            serve kids food? Check here!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more restaurants</h2>
        <p>ARR has more restaurants than Google and Yelp combined!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Verified ratings</h2>
        <p>These are trusted reviews-- we verify that users aren't spamming the system. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>